[include]
	path = "./.gitconfig_aliases"
	path = "./.gitconfig_user"
[color]
	branch = always
	diff = always
	interactive = always
	status = always
	ui = always
[core]
	editor = vim
	fileMode = false
[diff]
	algorithm = histogram
[fetch]
	fsckobjects = true
[init]
	defaultBranch = master
[merge]
	conflictstyle = zdiff3
[push]
	default = simple
[receive]
	fsckObjects = true
[transfer]
	fsckobjects = true
